@media all and (max-width: 426px){
    #assignment {
        background-color: white;
        overflow: hidden;
    }

    h3 {
        color: #2a2a2a;
        font-size: 25px;
        top: 10% ;
        left: 5%;
    }

    #assignment img {
        /*border: 4px solid black;*/
        width: 15vw;
        height: 13vh;

    }

    #assignment img:hover {

        width: 16vw;
        height:15vh;
        /*filter: blur(0px);*/
    }

    #assignment figure {
        height: max-content;
        position: absolute;
        text-align: center;
    }
    /*!*other*!*/
    /*#assignment > a:nth-child(5) > figure {*/
    /*    top: 13vh;*/
    /*    bottom: 0;*/
    /*    left: 75%;*/
    /*    margin: auto;*/

    /*}*/

    /*Animation*/
    #assignment > a:nth-child(4) > figure {
        top: 8vh;
        bottom: 0;
        right: 17%;
        /*left: 54%;*/
        margin: auto;

    }
    /*Trans*/
    #assignment > a:nth-child(3) > figure {
        top: 8vh;
        bottom: 0;
        /*right: 53%;*/
        right: 42%;
        margin: auto;

    }
    /*css*/
    #assignment > a:nth-child(2) > figure {
        top: 8vh;
        bottom: 0;
        /*right: 75%;*/
        right: 70%;
        margin: auto;

    }

    #assignment figcaption {
        font-size: 0.5em;
        color:black;
        font-weight: bolder;
    }

    #assignment figcaption:hover {
        color: #000000;
    }
}

@media all and (min-width: 426px) and (max-width: 768px){
    #assignment {
        background-color: white;
        overflow: hidden;
    }

    h3 {
        color: #565656;
        font-size: 55px;
        top: 10% ;
    }

    #assignment img {
        /*border: 4px solid black;*/
        width: 15vw;
        height: 30vh;

    }

    #assignment img:hover {

        width: 16vw;
        height:32vh;
        /*filter: blur(0px);*/
    }

    #assignment figure {
        height: max-content;
        position: absolute;
        text-align: center;
    }
    /*!*other*!*/
    /*#assignment > a:nth-child(5) > figure {*/
    /*    top: 13vh;*/
    /*    bottom: 0;*/
    /*    left: 75%;*/
    /*    margin: auto;*/

    /*}*/

    /*Animation*/
    #assignment > a:nth-child(4) > figure {
        top: 13vh;
        bottom: 0;
        right: 18%;
        /*left: 54%;*/
        margin: auto;

    }
    /*Trans*/
    #assignment > a:nth-child(3) > figure {
        top: 13vh;
        bottom: 0;
        /*right: 53%;*/
        right: 43%;
        margin: auto;

    }
    /*css*/
    #assignment > a:nth-child(2) > figure {
        top: 13vh;
        bottom: 0;
        /*right: 75%;*/
        right: 70%;
        margin: auto;

    }

    #assignment figcaption {
        font-size: 1.5em;
        color:black;
        font-weight: bolder;
    }

    #assignment figcaption:hover {
        color: #000000;
    }
}

@media all and (min-width: 769px) and (max-width: 1024px){
    #assignment {
    background-color: white;
    overflow: hidden;
}

    h3 {
        color: #565656;
        font-size: 55px;
        top: 10% ;
    }

    #assignment img {
        /*border: 4px solid black;*/
        width: 15vw;
        height: 30vh;

    }

    #assignment img:hover {

        width: 16vw;
        height:32vh;
        /*filter: blur(0px);*/
    }

    #assignment figure {
        height: max-content;
        position: absolute;
        text-align: center;
    }
    /*!*other*!*/
    /*#assignment > a:nth-child(5) > figure {*/
    /*    top: 13vh;*/
    /*    bottom: 0;*/
    /*    left: 75%;*/
    /*    margin: auto;*/

    /*}*/

    /*Animation*/
    #assignment > a:nth-child(4) > figure {
        top: 13vh;
        bottom: 0;
        right: 18%;
        /*left: 54%;*/
        margin: auto;

    }
    /*Trans*/
    #assignment > a:nth-child(3) > figure {
        top: 13vh;
        bottom: 0;
        /*right: 53%;*/
        right: 43%;
        margin: auto;

    }
    /*css*/
    #assignment > a:nth-child(2) > figure {
        top: 13vh;
        bottom: 0;
        /*right: 75%;*/
        right: 70%;
        margin: auto;

    }

    #assignment figcaption {
        font-size: 1.5em;
        color:black;
        font-weight: bolder;
    }

    #assignment figcaption:hover {
        color: #000000;
    }
}

@media all and (min-width: 1440px) {
    #assignment {
        background-color: white;
        overflow: hidden;
    }

    h3 {
        color: #565656;
        font-size: 55px;
        top: 10% ;
    }

    #assignment img {
        /*border: 4px solid black;*/
        width: 15vw;
        height: 30vh;

    }

    #assignment img:hover {

        width: 16vw;
        height:32vh;
        /*filter: blur(0px);*/
    }

    #assignment figure {
        height: max-content;
        position: absolute;
        text-align: center;
    }
    /*!*other*!*/
    /*#assignment > a:nth-child(5) > figure {*/
    /*    top: 13vh;*/
    /*    bottom: 0;*/
    /*    left: 75%;*/
    /*    margin: auto;*/

    /*}*/

    /*Animation*/
    #assignment > a:nth-child(4) > figure {
        top: 13vh;
        bottom: 0;
        right: 18%;
        /*left: 54%;*/
        margin: auto;

    }
    /*Trans*/
    #assignment > a:nth-child(3) > figure {
        top: 13vh;
        bottom: 0;
        /*right: 53%;*/
        right: 43%;
        margin: auto;

    }
    /*css*/
    #assignment > a:nth-child(2) > figure {
        top: 13vh;
        bottom: 0;
        /*right: 75%;*/
        right: 70%;
        margin: auto;

    }

    #assignment figcaption {
        font-size: 1.5em;
        color:black;
        font-weight: bolder;
    }

    #assignment figcaption:hover {
        color: #000000;
    }
    /*center img*/
    /*#assignment > a:nth-child(4) > figure > img {*/
    /*    width: 15vw;*/
    /*    height: 55vh;*/
    /*    filter: blur(0px);*/
    /*}*/

    /*#assignment > a:nth-child(4) > figure > img:hover {*/
    /*    width: 30vw;*/
    /*    height: 56vh;*/

    /*}*/

}