@media all and (min-width: 1440px) {
    #projects {
        background: linear-gradient(to left, #2a2929,lightgray);
        overflow: hidden;
    }

    h3 {
        color: #2b2b2b;
        font-size: 55px;
        top: 10% ;
    }

    #projects img {
        /*border: 4px solid black;*/
        width: 21vw;
        height: 44vh;

    }

    #projects img:hover {

        width: 24vw;
        height: 46vh;
        /*filter: blur(0px);*/
    }

    #projects figure {
        height: max-content;
        position: absolute;
        text-align: center;
    }

    #projects > a:nth-child(4) > figure {
        top: 13vh;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

    }

    #projects > a:nth-child(4) > figure > img {
        width: 29vw;
        height: 55vh;
        filter: blur(0px);
    }

    #projects > a:nth-child(4) > figure > img:hover {
        width: 30vw;
        height: 56vh;

    }
    /*mobile*/
    #projects > a:nth-child(3) > figure {
        top: 13vh;
        bottom: 0;
        right: 14vw;
        margin: auto;

    }
    /*java img*/
    #projects > a:nth-child(2) > figure {
        top: 13vh;
        bottom: 0;
        left: 14vw;
        margin: auto;

    }

    #projects figcaption {
        font-size: 1.5em;
        color:black;
        /*font-weight: bolder;*/
    }

    #projects figcaption:hover {

        color: #000000;
    }

}
@media all and (min-width: 768px) and (max-width: 1024px) {
    #projects {
        background: linear-gradient(to left, #2a2929,lightgray);
        overflow: hidden;
    }

    h3 {
        color: #2b2b2b;
        font-size: 55px;
        top: 10% ;
    }

    #projects img {
        /*border: 4px solid black;*/
        width: 21vw;
        height: 44vh;

    }

    #projects img:hover {

        width: 24vw;
        height: 46vh;
        /*filter: blur(0px);*/
    }

    #projects figure {
        height: max-content;
        position: absolute;
        text-align: center;
    }

    #projects > a:nth-child(4) > figure {
        top: 13vh;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

    }

    #projects > a:nth-child(4) > figure > img {
        width: 29vw;
        height: 55vh;
        filter: blur(0px);
    }

    #projects > a:nth-child(4) > figure > img:hover {
        width: 30vw;
        height: 56vh;

    }
    /*mobile*/
    #projects > a:nth-child(3) > figure {
        top: 13vh;
        bottom: 0;
        right: 14vw;
        margin: auto;

    }
    /*java img*/
    #projects > a:nth-child(2) > figure {
        top: 13vh;
        bottom: 0;
        left: 14vw;
        margin: auto;

    }

    #projects figcaption {
        font-size: 1.5em;
        color:black;
        /*font-weight: bolder;*/
    }

    #projects figcaption:hover {

        color: #000000;
    }

}
@media all and (min-width: 426px) and (max-width: 768px) {
    #projects {
        background: linear-gradient(to left, #2a2929, lightgray);
        overflow: hidden;
    }

    h3 {
        color: #2b2b2b;
        font-size: 55px;
        top: 10%;
    }

    #projects img {
        /*border: 4px solid black;*/
        width: 21vw;
        height: 44vh;

    }

    #projects img:hover {

        width: 24vw;
        height: 46vh;
        /*filter: blur(0px);*/
    }

    #projects figure {
        height: max-content;
        position: absolute;
        text-align: center;
    }

    #projects > a:nth-child(4) > figure {
        top: 13vh;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

    }

    #projects > a:nth-child(4) > figure > img {
        width: 29vw;
        height: 55vh;
        filter: blur(0px);
    }

    #projects > a:nth-child(4) > figure > img:hover {
        width: 30vw;
        height: 56vh;

    }

    /*mobile*/
    #projects > a:nth-child(3) > figure {
        top: 13vh;
        bottom: 0;
        right: 14vw;
        margin: auto;

    }

    /*java img*/
    #projects > a:nth-child(2) > figure {
        top: 13vh;
        bottom: 0;
        left: 14vw;
        margin: auto;

    }

    #projects figcaption {
        font-size: 1.5em;
        color: black;
        /*font-weight: bolder;*/
    }

    #projects figcaption:hover {

        color: #000000;
    }
}

    @media all and (max-width: 426px) {
        #projects {
            background: linear-gradient(to left, #2a2929, lightgray);
            overflow: hidden;
        }

        h3 {
            color: #2b2b2b;
            font-size: 55px;
            top: 10%;
        }

        #projects img {
            width: 20vw;
            height: 20vh;

        }

        #projects img:hover {
            width: 21vw;
            height: 21vh;
        }

        #projects figure {
            height: max-content;
            position: absolute;
            text-align: center;
        }

        #projects > a:nth-child(4) > figure {
            top: 8vh;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;

        }

        #projects > a:nth-child(4) > figure > img {
            width: 32vw;
            height: 26vh;
            filter: blur(0px);
        }

        #projects > a:nth-child(4) > figure > img:hover {
            width: 32.5vw;
            height: 26.5vh;

        }

        /*mobile*/
        #projects > a:nth-child(3) > figure {
            top: 8vh;
            bottom: 0;
            right: 11vw;
            margin: auto;

        }

        /*java img*/
        #projects > a:nth-child(2) > figure {
            top: 8vh;
            bottom: 0;
            left: 11vw;
            margin: auto;

        }

        #projects figcaption {
            font-size: 0.5em;
            color: black;
            /*font-weight: bolder;*/
        }

        #projects figcaption:hover {

            color: #000000;
        }

}